<div class="row margin-top">
  <div class="col-md-offset-4 col-md-4 text-center">
    <img src="imgs/doi2bib-logo.png" alt="doi2bib_logo" height="60" width="60" />
  </div>
</div>

<div class="row">
  <div class="col-md-offset-3 col-md-6 text-center">
    <h2>doi2bib &#8212; give us a DOI and we'll do our best to get you the BibTeX entry</h2>
  </div>
</div>
<div class="row margin-top">
  <div ng-attr-class="col-md-offset-4 col-md-4 {{error && 'has-error'}}">
    <form name="bibForm">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="doi"
               ng-keyup="$event.keyCode == 13 && toBib()"
               ng-pattern="/^10\..+\/.+$/"
               placeholder="Enter a digital object identifier ..."></input>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default"
                  ng-click="toBib()">
            get BibTeX
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
<div class="row margin-top">
  <div class="col-md-offset-2 col-md-8 text-center">
    <span class="glyphicon glyphicon-refresh spin" ng-show="workinprogress"></span>
    <pre class="text-left" ng-show="bib">{{bib}}</pre>
    <div class="text-danger" ng-show="error">{{error}}</div>
  </div>
</div>
