<div class="row margin-top">
  <div class="col-md-offset-4 col-md-4">
    <h2>Contact</h2>
    <p>Please use the form below to get in touch.</p>
  </div>
</div>

<div class="row margin-top">
  <div class="col-md-offset-4 col-md-4 text-center">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <input type="text" class="form-control" id="inputName" placeholder="Name">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="7" id="inputMessage" placeholder="Message"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>
  </div>
</div>
