<div class="row margin-top">
  <div class="col-md-offset-4 col-md-4">
    <h2>Contact</h2>
    <p>Please use the form below to get in touch.</p>
  </div>
</div>

<div class="row margin-top">
  <div class="col-md-offset-4 col-md-4 text-center">
    <form name="formFeedback" class="form-horizontal" role="form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Name" required ng-model="name">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" required ng-model="email">
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="7" placeholder="Message" required ng-model="text"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default" ng-click="formFeedback.$valid && send()">Submit</button>
      </div>
    </form>
  </div>
</div>
