<h2>LaTeX Help &#8212; Using BibTeX Entries with DOI, URL,  and ISSN/ISBN</h2>
<p>BibTeX entries are saved to a *.bib file which serves as database for bibliographic references. Different engines (BibTeX and Biber) and packages (<a href="http://www.ctan.org/pkg/biblatex">biblatex</a> and <a href="http://www.ctan.org/pkg/biblatex">natbib</a>) handle DOI, URL, and ISSN/ISBN data entries differently. These differences are outlined below.</p>
<h3>Biblatex (Biber and BibTeX engines)</h3>
<p>The <a href="http://www.ctan.org/pkg/biblatex">biblatex package</a> displays DOI, URL, and ISSN/ISBN by default. To prevent these data entries from being printed, set the <tt>doi</tt>, <tt>url</tt>, and <tt>isbn</tt> package options to <tt>false</tt>.</p>
<div class="row margin-top">
  <div class="col-md-offset-2 col-md-8">
    <pre>\documentclass{article}
\usepackage[doi=false, url=false, isbn=false, backend=biber]{biblatex}
\bibliography{references}
\begin{document}
\nocite{*}
\printbibliography
\end{document}</pre>
  </div>    
</div>
<h3>Natbib (BibTeX engine)</h3>
<p>Support for DOI, URL, and ISSN/ISBN has been added to the bibliography style <tt>plainnat</tt>. These data entries will be printed unless they are removed or renamed. Loading the <a href="http://ctan.org/pkg/url">url package</a> prevents DOIs and URLs from sticking into the margin.</p>
<div class="row margin-top">
  <div class="col-md-offset-2 col-md-8">
    <pre>\documentclass[11pt]{article}
\usepackage{natbib}
\usepackage{url}
\begin{document}
\nocite{*}
\bibliographystyle{natbib}
\bibliography{references}
\end{document}
</pre>
  </div>
</div>
<h3>Natbib or without package (BibTeX engine)</h3>
<p>Bibliography styles: <tt>plain</tt>, <tt>harvard</tt>, <tt>apalike</tt>, <tt>chicago</tt>, <tt>astron</tt>, and <tt>authordate</tt> do not support DOI, URL, and ISSN/ISBN and will therefore not produce these data entries, even if they are available.</p>
<p></p>
<div class="row margin-top">
  <div class="col-md-offset-2 col-md-8">
    <pre>\documentclass[11pt]{article}
\usepackage{natbib}
\begin{document}
\nocite{*}
\bibliographystyle{plain}
\bibliography{references}
\end{document}
</pre>
  </div>
</div>